<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Smartworking_CustomOrderProcessing::order_status_logs"
             title="Order Status Change Logs"
             module="Smartworking_CustomOrderProcessing"
             sortOrder="100"
             parent="Magento_Sales::sales_operation"
             action="order_change_log/index/index"
             resource="Smartworking_CustomOrderProcessing::order_status_logs"
        />
    </menu>
</config>