<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="order_change_log" frontName="order_change_log">
            <module name="Smartworking_CustomOrderProcessing"/>
        </route>
    </router>
</config>