<?xml version="1.0"?>
<config xmlns_xsi="http://www.w3.org/2001/XMLSchema-instance" xsi_noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Smartworking_CustomOrderProcessing" setup_version="1.0">
    <sequence>
           <module name="Magento_Webapi" />
           <module name="Magento_Sales" />
       </sequence>
    </module>

</config>